.formWrapper {
  display: flex;
  justify-content: space-around;
  .areaFormInput {
    display: grid;
    gap: 20px;
    .spanInputForm {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      .spanForm {
        font-weight: 500;
        font-size: 18px;
        color: rgb(65, 65, 65);
      }
      .inputForm {
        background-color: rgb(237, 237, 237);
        border: none;
        border-radius: 20px;
        padding: 10px;
        width: 400px;
      }
      .inputForm:focus {
        outline: none;
      }
      .ant-input {
      }
    }
  }
}
